In [6]:
# Cleaning Emmissions CSV File

# Reading Emissions Data CSV & Preview
import pandas as pd
Emissions_dataframe = pd.read_csv("Europe Emissions by Country_2023.csv")
Emissions_dataframe.tail()

,Internal code for this file,Country Code,Country name,Year,Gas/Scope,CRF code,Description as in CRF,Sector_code,Sector_name,Colum,...,Emissions - MS [kt],Emissions - EEA [kt],Emissions with notation key [kt],Emissions,Notation key,Source,Description test,Check,Manually,Final check
9603,SI_2023_CO2_1A3a,SI,Slovenia,2023,CO2,1A3a,NaN,1.A.3.a,1.A.3.a - Domestic Aviation,NaN,...,0,1.742146825,1.74,1.74,NaN,EEA,NaN,NaN,NaN,NaN
9604,SK_2023_CO2_1A3a,SK,Slovakia,2023,CO2,1A3a,NaN,1.A.3.a,1.A.3.a - Domestic Aviation,NaN,...,0,1.518074654,1.52,1.52,NaN,EEA,NaN,NaN,NaN,NaN
9605,IS_2023_CO2_1A3a,IS,Iceland,2023,CO2,1A3a,NaN,1.A.3.a,1.A.3.a - Domestic Aviation,NaN,...,22.34,22.34,22.34,22.34,NaN,MS data,NaN,NaN,NaN,NaN
9606,NO_2023_CO2_1A3a,NO,Norway,2023,CO2,1A3a,NaN,1.A.3.a,1.A.3.a - Domestic Aviation,NaN,...,1084.50687,1084.50687,"1,084.51","1,084.51",NaN,MS data,NaN,NaN,NaN,NaN
9607,EU27_2023_CO2_1A3a,EU27,European Union (EU27),2023,CO2,1A3a,NaN,1.A.3.a,1.A.3.a - Domestic Aviation,NaN,...,13296.87473,13296.87473,"13,296.87","13,296.87",NaN,EEA,NaN,NaN,NaN,NaN

In [9]:
emissions_summary = Emissions_dataframe[['Country name','Gas/Scope','Emissions','Description test']]
emissions_summary = emissions_summary.rename(columns={"Country name": "Country Name", 
                                    "Gas/Scope": "Gas Type","Description test":"Emissions Activity Description"})
emissions_summary = emissions_summary.dropna(how='any')
emissions_summary.tail()

,Country Name,Gas Type,Emissions,Emissions Activity Description
9543,European Union (EU27),Total,"3,118,575.66","Total CO2 equivalent emissions, including indi..."
9544,European Union (EU27),Total,"2,862,018.82","Total CO2 equivalent emissions, including indi..."
9545,European Union (EU27),Total,"3,361,548.61","Total CO2 equivalent emissions, including indi..."
9546,European Union (EU27),ETS,"1,070,545.13",Total CO2 equivalent emissions without land us...
9547,European Union (EU27),Total,"3,104,991.77","Total CO2 equivalent emissions, including indi..."